---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div class="col-12 mb-4 text-center">
    <img src="{{ site.url }}/assets/img/people ai logo.png" alt="Home" width="40%">
  </div>

  <div class="col-12">
    <h3 class="fw-bold border-bottom pb-3 mb-4">Courses</h3>

    <p><a href="https://catalogue.surrey.ac.uk/2025-6/module/EEEM067/SEMR1/1" target="_blank">AR, VR AND THE METAVERSE</a></p>
    <p><a href="https://catalogue.surrey.ac.uk/2025-6/module/EEEM081/SEMR2/2" target="_blank">RESEARCH METHODS FOR PEOPLE-CENTRED AI</a></p>
    <p><a href="https://catalogue.surrey.ac.uk/2025-6/module/EEEM080/XAY/X" target="_blank">PROJECT IN PEOPLE-CENTRED AI</a></p>
  </div>
